body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header{
    height: 166px;
    background-color: lime;
}

nav{
    height: 180px;
    
}

article{
    
    background-color: ;
}

.contenidor{
    width: 1716px;
    margin: auto;
    overflow: hidden;
    
    text-align: center;
}

.entrada{
    width: 536px;
    height: 620px;
    margin: 18px;
    background-color: ;
    float: left;
}

.cercle{
    background-color: red;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display:inline-block;
    margin: 28px;
    padding: 10px;
    border: solid 5px white;
    box-shadow: 0px 0px 5px fuchsia;

    background-image: url(../img/perfil.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
    opacity: 80%;
        
}

.cercle::after{
    content: "+";
    display: block;
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    font-size: 25px;
    border: solid 5px white;
    position: relative;
    top: 55px;
    left: 60px;
}


.cercle:hover{
    opacity: 100%;
}



img{
    width: 536px;
    height: 536px;
}

.reaccions{
    height: 84px;
    background-color: ;
    overflow: hidden;
}


.fotoautor{
    width: 50px;
    height: 50px;
    background-image: url(../img/perfil.jpg);
    background-size: 100%;
    background-repeat: no-repeat;


    border-radius: 50%;
    margin: 15px;
    padding: 1px;
    border: solid 5px white;
    box-shadow: 0px 0px 5px fuchsia;

    float: left;
    
}



.autor{    
    width: 250px;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    font-size: 22px;
    
}


.moment{
    width: 268px;
    color: gainsboro;
    font-size: 20px;
}


.esquerra{
    width: 50%;
    margin: 0;
    background: ;
    float: left;
}




.dreta{
    width: 50%;
    margin: 0;
    background: ;
    float: right;
}



.comentari{
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    font-size: 22px;
    float: left;
    background-color: ;
}


.likes{
    height: 40px;
    width: 40px;
    background-color: ;
    float: left;
}


.mes{
    width: 40px;
    height: 40px;
    background-color: ;
    font-size: 20px;
    float: left;
    line-height: 30px;
    font-size: 600;


}





.home{
    width: 208px;
    height: 39px;
    
    background-size: auto;
    background-repeat: no-repeat;

    background-image: url(../img/ifpagram_09_09.jpg);

    margin: 50px 0 0;
    display: inline-block;


}

.menu{
    width: 208px;
    height: 39px;
    margin: 50px 470px 0 470px;
    
    
    display: inline-block;

    
}

.menu li{
    width: 32px;
    height: 32px;
    
    margin: 3px 4px;
    display: inline-block;
}



.menu .inici{
    background-image: url(../img/ifpagram_09_12.jpg);
    background-position: -6px -2px;
}

.menu .cerca{
    background-image: url(../img/ifpagram_09_12.jpg);
    background-position: -90px -2px;
}


.menu .reels{
    background-image: url(../img/ifpagram_09_12.jpg);
    background-position: -174px -2px;
}

.menu .favorits{
    background-image: url(../img/ifpagram_09_12.jpg);
    background-position: -256px -2px;
}



.perfil{
    width: 208px;
    height: 39px;
    margin: 50px 0 0 0;
    display: inline-block;
}